ul.autoComplete_result {
  list-style: none;
  padding: 0;
}

#autoComplete_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

#autoComplete_list.search_off {
  display: none;
}

.autoComplete_result .result_item:hover {
  background: #fcfcfa;
  padding: 1rem;
  list-style: none;
}

.result_item.current_active_item {
  border-radius: 0.3rem;
  background: #fcfcfa;
  padding: 1rem;
  list-style: none;
}


.autoComplete_result {
  border-bottom: 1px solid #bfbfbf; /**  Drupal style #dfe4ff; **/
}

div.result_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}


.current_item .title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.current_item {
  flex: 60%;
  display: flex;
  align-self: center;
  flex-direction: column;
  overflow: hidden;
}

.current_item.alone {
  flex-direction: unset;
}

.current_item.alone .title {
  align-self: center;
}

.selected_element {
  display: flex;
  align-self: flex-start;
}

.result_item .flag-icon {
  align-self: normal;
}

.selected_element .flag-icon.flag-icon-squared {
  width: 21px;
  height: 21px;
  margin-right: 0.4rem;
  border-radius: 50%;
  background-position: 0;
}

.result_item  .list_other_href_items {
  display: flex;
  margin-top: 0.4rem;
  flex-wrap: wrap;
}

.result_item .other_href_items {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.result_item .other_href_items  .flag-icon.flag-icon-squared {
  width: 16px;
  height: 16px;
  margin-right: 0.4rem;
  border-radius: 50%;
  background-position: 0;
}

.result_item .title_other {
  margin: 0 0 0 0.5rem;
  white-space: nowrap;
}

.result_item button {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  padding: 0.6rem 0.6rem;
  font-family: sans-serif;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  font-size: 12px;
}


.autocomplete_href_lang.search_off {
  display: none;
}
.autocomplete_href_lang_filter_lang.search_off {
  display: none;
}

.autocomplete_href_lang.result_off {
  display: none;
}

.hide {
  display: none;
}


.js input.autocomplete_href_lang {
  background-image: url(../../../../core/themes/stable/images/core/throbber-inactive.png);
  background-repeat: no-repeat;
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.autocomplete_href_lang {
  background-position: 0% center;
}
.js input.autocomplete_href_lang.ui-autocomplete-loading {
  background-image: url(../../../../core/themes/stable/images/core/throbber-active.gif);
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.autocomplete_href_lang.ui-autocomplete-loading {
  background-position: 0% center;
}
