<div class="current_active_item">
    {% if first is not null and first is not empty %}
    <div class="result_item current_active_item">
        {% if entities is empty %}
        <div class="current_item alone">
            {% else %}
            <div class="current_item">
                {% endif %}
                <div class="selected_element">
                    {% if first.short_title is empty %}
                        <span class="flag-icon flag-icon-squared flag-icon-{{ first.region| lower }}"
                              title="{{ first.region | t_region }}"></span>
                    {% else %}
                        <span class="flag-icon flag-icon-squared flag-icon-{{ first.short_title  | lower }}"
                              title="{{ first.region.value | t_region }}"></span>
                    {% endif %}
                    <p class="title"><a href="{{ first.path }}"
                                        target="_blank">{{ first.title | length > text_max_length ? first.title|slice(0, text_max_length) ~ '...' : first.title }}</a>
                    </p>
                </div>
                <div class="list_other_href_items">
                    {% for entity in entities %}
                        <div class="other_href_items">
                            {% if entity.short_title is empty %}
                                <span class="flag-icon flag-icon-squared flag-icon-{{ entity.region | lower }}"
                                      title="{{ entity.region| t_region }}"></span>
                            {% else %}
                                <span class="flag-icon flag-icon-squared flag-icon-{{ entity.short_title | lower }}"
                                      title="{{ entity.region | t_region }}"></span>
                            {% endif %}
                            <p class="title_other"><a href="{{ entity.href.path.value }}"
                                                      target="_blank">{{ entity.title| length > text_max_length ? entity.title|slice(0, text_max_length) ~ '...' : entity.title }}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="button button--primary">{{ 'Disconnect' | t }}</button>
        </div>
        {% elseif is_gid_set == true %}
        <div class="result_item current_active_item">
            <div class="current_item alone">
                    <div class="selected_element">
                        <p class="notification">{{ 'Currently there is no information available about this group.' | t }}</p>
                    </div>
                </div>
                <button class="button button--primary">{{ 'Disconnect' | t }}</button>
            </div>
        {% else %}
        {% endif %}
    </div>