{#
/**
 * @file site_entity.html.twig
 * Default theme implementation to present Site entity data.
 *
 * This template is used when viewing Site entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_site_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('site_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
