{% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}

<ul>
    {% for entity in entities %}

        <li><a href="{{  entity.path.value }}"> {{ entity.language.value }} - {{ entity.region.value }}</a> </li>
    {% endfor %}
</ul>
