<div class="current_active_item">
    {% if first is not null and first is not empty %}
    <div class="result_item current_active_item">
        {% if entity is empty %}
        <div class="current_item alone"></div>
            {% else %}
            <div class="current_item">
                {% endif %}
                <div class="selected_element">
                    <span class="flag-icon flag-icon-squared flag-icon-{{ first.region.value | lower }}"
                          title="{{ first.region.value | t_region }}"></span>
                    <p class="title"><a href="{{ first.path.value }}"
                                        target="_blank">{{ first.title.value | length > text_max_length ? first.title.value|slice(0, text_max_length) ~ '...' : first.title.value }}</a>
                    </p>
                </div>
                <div class="list_other_href_items">
                    {% for entity in entities %}
                        <div class="other_href_items">
                            <span class="flag-icon  flag-icon-squared flag-icon-{{ entity.region.value | lower }}"
                                  title="{{ entity.region.value | t_region }}"></span>
                            <p class="title_other"><a href="{{ entity.path.value }}"
                                                      target="_blank">{{ entity.title.value | length > text_max_length ? entity.title.value|slice(0, text_max_length) ~ '...' : entity.title.value }}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="button button--primary">{{ 'Disconnect' | t }}</button>
        </div>
        {% elseif is_gid_set == true %}
            <div class="result_item current_active_item">
                <div class="current_item alone">
                    <div class="selected_element">
                        <p class="notification">{{ 'Currently there is no information available about this group.' | t }}</p>
                    </div>
                </div>
                <button class="button button--primary">{{ 'Disconnect' | t }}</button>
            </div>
        {% else %}
        {% endif %}
    </div>
