<div class="connection-count-box">
    <div class="graph-cont">
        <span class="description">{{ 'This is the average' | t }}</span>
        <div class="bar bar42"><span class="inline-graph">{{ info.node.test.total_percentage }}%</span></div>
    </div>
</div>