.language_config_site {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.language_config_site_fieldset .fieldset-wrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .language_config_site_fieldset .fieldset-wrapper {
    flex-direction: column;
  }
}

.language_config_site_fieldset input[readonly] {
  border-color: darkgrey;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(235, 235, 228);
  color: rgb(84, 84, 84);
  padding: 2px 0px;
}

.language_config_site_fieldset .preview_container {
  display: flex;
  flex-direction: column;
  flex: 50%;
  align-items: center;
  justify-content: center;
}

.language_config_site_fieldset .preview_container .card {
  border-radius: 0.2rem;
  padding: 1rem;
  border: 0.1rem solid #6f8cf7;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.language_config_site_fieldset .preview_container .card p {
  margin: 0;
}

.language_config_site_fieldset .field--name-href-lang-code {
  display: none;
}
